apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-index
data:
  index.html: |
    <!doctype html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>NGINX on NKP Starter</title>
    </head>
    <body>
      <h1>Welcome to NGINX on NKP Starter</h1>
      <p>If you see this page, NGINX is serving content from a ConfigMap.</p>
    </body>
    </html>
