apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cluster-issuer.yaml
  - certificate.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingresstoure-https.yaml

nameSuffix: "-domainbased"